.alna-img {
    top: 313px;
    left: 862px;
    width: 187px;
    height: 206px;
    transition: ease-out 0.2s;
}

.alna-robot-name-img {
    background: transparent url("./assets/robot-base-hello.svg") 0% 0% no-repeat padding-box;

    &:hover {
        background: transparent url("./assets/robot-hello.svg") 0% 0% no-repeat padding-box;
    }
}

.alna-robot-experience-img {
    background: transparent url("./assets/robot-base-experience.svg") 0% 0% no-repeat padding-box;

    &:hover {
        background: transparent url("./assets/robot-experience.svg") 0% 0% no-repeat padding-box;
    }
}

.alna-robot-experience-img {
    background: transparent url("./assets/robot-base-experience.svg") 0% 0% no-repeat padding-box;

    &:hover {
        background: transparent url("./assets/robot-experience.svg") 0% 0% no-repeat padding-box;
    }
}

.alna-robot-challenge-img {
    background: transparent url("./assets/robot-base-challenge.svg") 0% 0% no-repeat padding-box;

    &:hover {
        background: transparent url("./assets/robot-challenge.svg") 0% 0% no-repeat padding-box;
    }
}

.alna-robot-business-img {
    background: transparent url("./assets/robot-base-business.svg") 0% 0% no-repeat padding-box;

    &:hover {
        background: transparent url("./assets/robot-business.svg") 0% 0% no-repeat padding-box;
    }
}

.alna-robot-overcome-img {
    background: transparent url("./assets/robot-base-overcome.svg") 0% 0% no-repeat padding-box;

    &:hover {
        background: transparent url("./assets/robot-overcome.svg") 0% 0% no-repeat padding-box;
    }
}

.alna-robot-goal-img {
    background: transparent url("./assets/robot-base-goal.svg") 0% 0% no-repeat padding-box;

    &:hover {
        background: transparent url("./assets/robot-goal.svg") 0% 0% no-repeat padding-box;
    }
}

.alna-robot-solution-img {
    background: transparent url("./assets/robot-base-solution.svg") 0% 0% no-repeat padding-box;

    &:hover {
        background: transparent url("./assets/robot-solution.svg") 0% 0% no-repeat padding-box;
    }
}

.alna-robot-tech-img {
    background: transparent url("./assets/robot-base-tech.svg") 0% 0% no-repeat padding-box;

    &:hover {
        background: transparent url("./assets/robot-tech.svg") 0% 0% no-repeat padding-box;
    }
}

.alna-robot-contact-img {
    background: transparent url("./assets/robot-base-contact.svg") 0% 0% no-repeat padding-box;

    &:hover {
        background: transparent url("./assets/robot-contact.svg") 0% 0% no-repeat padding-box;
    }
}

.alna-robot-complete-img {
    background: transparent url("./assets/robot-base-complete.svg") 0% 0% no-repeat padding-box;

    &:hover {
        background: transparent url("./assets/robot-complete.svg") 0% 0% no-repeat padding-box;
    }
}