@import "./variables.scss";
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");

#alnasoft-form body {
  margin: 0 !important;
  font-family: "Montserrat" !important;
}

#alnasoft-form .alna-svg-small {
  height: 93px !important;
}

#alnasoft-form .alna-svg-large {
  height: 270px !important;
}

#alnasoft-form .alna-form-error {
  min-height: 1.5em !important;
  color: #ad1931 !important;
  font-size: 12px !important;
}

#alnasoft-form .alna-width-80 {
  margin: 0 10px !important;
  width: 100% !important;
  max-width: 80% !important;
}

#alnasoft-form .alna-font-size-md {
  font-size: 15px !important;
}

#alnasoft-form .alna-mt-20 {
  margin-top: 20px !important;
}

#alnasoft-form .alna-mt-24 {
  margin-top: 24px !important;
}

#alnasoft-form .alna-ml-30 {
  margin-left: 30px !important;
}

#alnasoft-form .alna-mr-30 {
  margin-right: 30px !important;
}
#alnasoft-form .alna-footer {
  justify-content: center !important;
  flex-wrap: wrap !important;
  margin-top: 60px !important;
  display: flex !important;
}

#alnasoft-form .alna-text-align-left {
  text-align: left !important;
}

#alnasoft-form .alna-center {
  display: flex !important;
  justify-content: center !important;
}

#alnasoft-form .alna-check-button-group {
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: center !important;
  max-width: 735px !important;
}

#alnasoft-form .alna-form {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  padding: 84px 20% !important;
  background-color: white !important;
}

#alnasoft-form .spinner {
  color: $alna-blue !important;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  width: 50px !important;
  height: 50px !important;
  margin: -60px 0 0 -60px !important;
  -webkit-animation: spin 4s linear infinite !important;
  -moz-animation: spin 4s linear infinite !important;
  animation: spin 4s linear infinite !important;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media (max-width: $screen-md-min) {
  .alna-form {
    margin: 0 5px !important; 
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
  }
}

#alnasoft-form .icon-spin {
  -webkit-animation: icon-spin 2s infinite linear;
          animation: icon-spin 2s infinite linear;
}

@-webkit-keyframes icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}