@import "./variables.scss";

body {
  margin: 0 !important;
  font-family: "Montserrat" !important;
}

.alna-form-error {
  min-height: 1.5em;
  color: #ad1931;
  font-size: 12px;
}

.alna-width-80 {
  margin: 0 10px;
  width: 100%;
  max-width: 80%;
}

.alna-font-size-md {
  font-size: 15px;
}

.alna-mt-20 {
  margin-top: 20px;
}

.alna-mt-24 {
  margin-top: 24px;
}

.alna-ml-30 {
  margin-left: 30px;
}

.alna-mr-30 {
  margin-right: 30px;
}
.alna-footer {
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 60px;
  display: flex;
}

.alna-text-align-left {
  text-align: left !important;
}

.alna-center {
  display: flex;
  justify-content: center;
}

.alna-check-button-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 735px;
}

.alna-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 84px 20% 0 20%;
}

.spinner {
  color: $alna-blue;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  margin: -60px 0 0 -60px;
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media (max-width: $screen-md-min) {
  .alna-form {
    margin: 0 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.icon-spin {
  -webkit-animation: icon-spin 2s infinite linear;
          animation: icon-spin 2s infinite linear;
}

@-webkit-keyframes icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}