$alna-light-blue: #E2EEFF;
$alna-blue: #1a75fa;
$alna-dark-blue: #1a75fa4a;
$alna-gray: #ACACAC;
$alna-light-gray: #EBEBEB;
$alna-dark-gray: #707070;
$alna-transition: 0.4s;
// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;
// Small tablets (portrait view)
$screen-md-min: 768px;
// Tablets and small desktops
$screen-lg-min: 992px;
// Large tablets and desktops
$screen-xl-min: 1200px;