@import "../styles/variables.scss";

#alnasoft-form a {
  text-decoration: none !important;
}

#alnasoft-form .alna-button {
  cursor: pointer !important;
  margin-top: 5px !important;
  padding: 14px 0 !important;
  width: 186px !important;
  background-color: black !important;
  font-family: "Montserrat" !important;
  color: white !important;
  font-size: 15px !important;
  font-weight: 500 !important;
  border: none !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;

  &:hover {
    width: 186px !important;
    border: 2px solid white !important;
    outline: 1px solid black !important;
    padding: 12px 0 !important;
    transition: all 0.1s !important;
  }

  &-disabled {
    margin-top: 5px !important;
    cursor: default !important;
    padding: 14px 0 !important;
    width: 186px !important;
    background-color: $alna-dark-gray !important;
    font-family: "Montserrat" !important;
    color: white !important;
    font-size: 15px !important;
    font-weight: 500 !important;
    border: none !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }
}

#alnasoft-form .alna-button-secondary {
  margin-top: 5px !important;
  cursor: pointer !important;
  padding: 14px 0 !important;
  width: 186px !important;
  background-color: transparent !important;
  font-family: "Montserrat" !important;
  color: $alna-dark-gray !important;
  font-size: 15px !important;
  font-weight: 500 !important;
  border: none !important;
  transition: all 0.2s !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;

  &:hover {
    color: $alna-blue !important;
    transition: all 0.2s !important;
  }

  &-disabled {
    @extend .alna-button-secondary;
    color: $alna-dark-gray !important;
    cursor: default !important;

    &:hover {
      color: $alna-dark-gray !important;
      cursor: default !important;
    }
  }
}
