@import "../styles/variables.scss";

.alna-carousel {
  display: flex;
  justify-content: center;

  &-content {
    color: $alna-dark-gray;
    width: 80%;
    text-align: center;
    margin: 0 24px;
    
  }

  &-arrow {
    color: $alna-blue;
    transition: $alna-transition;
    cursor: pointer;

    &:hover {
      color: $alna-dark-blue;
    }
  }
}
