@import "../styles/variables.scss";

#alnasoft-form .alna-carousel {
  display: flex !important;
  justify-content: center !important;

  &-content {
    color: $alna-dark-gray !important;
    width: 80% !important;
    text-align: center !important;
    margin: 0 24px !important;
    
  }

  &-arrow {
    color: $alna-blue !important;
    transition: $alna-transition !important;
    cursor: pointer !important;

    &:hover {
      color: $alna-dark-blue !important;
    }
  }
}
