@import "../styles/variables.scss";

.alna-switch {
    display: inline-block;
    height: 46px;
    padding-bottom: 10px;
}

.alna-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.alna-check {
    border: 1px solid #e2eeff;
    padding: 13px 25px;
    color: $alna-blue;
    cursor: pointer;
    background-color: #fff;
    -webkit-transition: $alna-transition;
    transition: $alna-transition;
    font-weight: 500;
    font-size: 15px;
    box-shadow: 0px 3px 6px #a5c8d2ad;
}

input:checked + .alna-check {
    color: #fff;
    background-color: $alna-blue;
    box-shadow: none;
    border: 1px solid $alna-blue;
}

input:hover + .alna-check {
    color: #fff;
    background-color: $alna-blue;
    border: 1px solid $alna-blue;
    box-shadow: 0px 3px 6px #a5c8d2ad;
}
