@import "../styles/variables.scss";

#alnasoft-form .alna-input {
  width: 100% !important;
  max-width: 400px !important;
  font-family: "Montserrat" !important;
  text-align: center !important;
  outline: none !important;
  border: none !important;
  border-bottom: 1px solid black !important;
  transition: $alna-transition !important;

  &-contact {
    width: 100% !important;
    max-width: 400px !important;
    font-family: "Montserrat" !important;
    text-align: left !important;
    outline: none !important;
    border: none !important;
    border-bottom: 1px solid black !important;
    transition: $alna-transition !important;

    &-disabled {
      @extend .alna-input-contact;
      color: $alna-dark-gray !important;
    }
  }

  &-disabled {
    @extend .alna-input;
    color: $alna-dark-gray !important;
  }

  &:hover {
    border-bottom: 1px solid $alna-blue !important;
  }

  &:focus {
    border-bottom: 1px solid $alna-blue !important;
  }
}
