@import '../styles/variables.scss';

#alnasoft-form .alna-slider {
    -webkit-appearance: none !important;
    width: 100% !important;
    height: 2px !important;
    background: $alna-blue !important;
    outline: none !important;
    -webkit-transition: 0.2s !important;
    transition: $alna-transition !important;

    &-container {
        max-width: 421px !important;
        width: 100% !important;
    }

    &-text {
        display: flex !important;
        justify-content: space-between !important;
        font-weight: 500 !important;
    }

    &::-webkit-slider-thumb:hover {
        background: $alna-blue !important;
    }

    &::-moz-range-thumb:hover {
        background: $alna-blue !important;
    }

    &::-webkit-slider-thumb {
        -webkit-appearance: none !important;
        appearance: none !important;
        width: 28px !important;
        height: 28px !important;
        background: #fff !important;
        border: 2px solid $alna-blue !important;
        border-radius: 50% !important;
        box-shadow: 0px 3px 6px $alna-dark-blue !important;
        cursor: pointer !important;
        -webkit-transition: 0.2s !important;
        transition: $alna-transition !important;
    }

    &::-moz-range-thumb {
        width: 28px !important;
        height: 28px !important;
        background: #fff !important;
        border-radius: 50% !important;
        border: 2px solid $alna-blue !important;
        box-shadow: 0px 3px 6px $alna-dark-blue !important;
        cursor: pointer !important;
        -webkit-transition: 0.2s !important;
        transition: $alna-transition !important;
    }
}
