@import "../styles/variables.scss";

#alnasoft-form .alna-step-counter {
  display: flex !important;
  justify-content: center !important;
  position: relative !important;
  width: 79px !important;
  margin-bottom: 30px !important;

  &-main {
    word-break: normal !important;
    font-size: 65px !important;
    font-weight: 500 !important;
    color: $alna-light-gray !important;
  }

  &-current {
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    white-space: nowrap !important;
    font-size: 15px !important;
    font-weight: bold !important;
    color: $alna-gray !important;
  }
}
