@import "../styles/variables.scss";

#alnasoft-form .alna-summary {
  text-align: center !important;

  &-sub {
    margin-bottom: 5px !important;
    font-size: 15px !important;
    font-weight: bold !important;
    color: $alna-blue !important;
  }

  &-title {
    margin-bottom: 5px !important;
    font-size: 20px !important;
    font-weight: bold !important;
  }

  &-desc {
    font-size: 15px !important;
    color: $alna-gray !important;
  }
}
